@import "~antd/dist/antd.css";

@import "tailwindcss/base";
@import "tailwindcss/components";

/* Your own custom component styles */

@import "tailwindcss/utilities";

.side_header_div {
  width: 45px;
  background-color: #000000;
}
.side_bar_items_user_name {
  text-align: center;
  font-size: 15px;
  margin-top: -20px;
  margin-bottom: 50px;
  text-decoration: underline;
  font-weight: 600;
}
.sidebar_logo {
  position: absolute;
  bottom: 0;
  margin-left: 30px;
}
.detail_text_box {
  height: 30px;
}
.menu_item_text {
  font-size: 15px;
}
